<!DOCTYPE html>
<html>
<head>
	<title>Mackenzie Child - Part Designer, Part Developer</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Mackenzie Child", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<%= link_to "Projects", projects_path %>
			<a href="#">Contact</a>
		</nav>
	</header>

	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy;2015 Mackenzie Child</p>
		<nav>
			<a href="http://twitter.com/mackenziechild" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="http://dribbble.com/mackenziechild" target="_blank"><i class="fa fa-dribbble"></i></a>
			<a href="http://github.com/mackenziechild" target="_blank"><i class="fa fa-github"></i></a>
		</nav>
	</footer>

</body>
</html>
